*{
    margin: 0;
    padding: 0;
}

html, body {
    margin: 10px;
    padding: 10px;
}

h1 {
    color: lime;
}


p, li, h2{
    color:rgb(204, 131, 42);
}
 

section article h2{
    background-color: aqua;
    width: 64px;
    height: 30px;
}

section{
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
    border:solid 2px black
}


section article{
    background-color: yellow;
}

section article p{
    color:rgb(255, 0, 0); 
    line-height: 4;
}

/* ol{
    list-style-type: none;
} */